In [1]:
import org.apache.spark.sql.SparkSession
val spark = SparkSession
      .builder
      .appName("MnMCount")
      .getOrCreate()


val mnmDF = spark.read.format("csv")
    .option("header", "true")
    .option("inferSchema", "true")
    .load("./LearningSparkV2-master/chapter2/scala/data/mnm_dataset.csv")

mnmDF.show(5)

Intitializing Scala interpreter ...

Spark Web UI available at http://EM2021002738.bosonit.local:4041
SparkContext available as 'sc' (version = 3.1.1, master = local[*], app id = local-1618473955899)
SparkSession available as 'spark'

+-----+------+-----+
|State| Color|Count|
+-----+------+-----+
|   TX|   Red|   20|
|   NV|  Blue|   66|
|   CO|  Blue|   79|
|   OR|  Blue|   71|
|   WA|Yellow|   93|
+-----+------+-----+
only showing top 5 rows

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@7a1e9198
mnmDF: org.apache.spark.sql.DataFrame = [State: string, Color: string ... 1 more field]

In [2]:
val countMnMDF = mnmDF.select("State", "Color", "Count")
    .groupBy("State", "Color")
    .sum("Count")
    .orderBy(desc("sum(Count)"))

countMnMDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 1 more field]

In [3]:
countMnMDF.show(60)
println(s"Total Rows = ${countMnMDF.count()}")
println()

+-----+------+----------+
|State| Color|sum(Count)|
+-----+------+----------+
|   CA|Yellow|    100956|
|   WA| Green|     96486|
|   CA| Brown|     95762|
|   TX| Green|     95753|
|   TX|   Red|     95404|
|   CO|Yellow|     95038|
|   NM|   Red|     94699|
|   OR|Orange|     94514|
|   WY| Green|     94339|
|   NV|Orange|     93929|
|   TX|Yellow|     93819|
|   CO| Green|     93724|
|   CO| Brown|     93692|
|   CA| Green|     93505|
|   NM| Brown|     93447|
|   CO|  Blue|     93412|
|   WA|   Red|     93332|
|   WA| Brown|     93082|
|   WA|Yellow|     92920|
|   NM|Yellow|     92747|
|   NV| Brown|     92478|
|   TX|Orange|     92315|
|   AZ| Brown|     92287|
|   AZ| Green|     91882|
|   WY|   Red|     91768|
|   AZ|Orange|     91684|
|   CA|   Red|     91527|
|   WA|Orange|     91521|
|   NV|Yellow|     91390|
|   UT|Orange|     91341|
|   NV| Green|     91331|
|   NM|Orange|     91251|
|   NM| Green|     91160|
|   WY|  Blue|     91002|
|   UT|   Red|     90995|
|   CO|Orange|     90971|
|   AZ|Yellow|     90946|
|   TX| Brown|     90736|
|   OR|  Blue|     90526|
|   CA|Orange|     90311|
|   OR|   Red|     90286|
|   NM|  Blue|     90150|
|   AZ|   Red|     90042|
|   NV|  Blue|     90003|
|   UT|  Blue|     89977|
|   AZ|  Blue|     89971|
|   WA|  Blue|     89886|
|   OR| Green|     89578|
|   CO|   Red|     89465|
|   NV|   Red|     89346|
|   UT|Yellow|     89264|
|   OR| Brown|     89136|
|   CA|  Blue|     89123|
|   UT| Brown|     88973|
|   TX|  Blue|     88466|
|   UT| Green|     88392|
|   OR|Yellow|     88129|
|   WY|Orange|     87956|
|   WY|Yellow|     87800|
|   WY| Brown|     86110|
+-----+------+----------+

Total Rows = 60

In [12]:
val countMnMDF = mnmDF.select("State", "Color", "Count")
    .groupBy("State", "Color")
    .avg("Count")
    .orderBy(asc("avg(Count)"))

countMnMDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 1 more field]

In [13]:
countMnMDF.show(60)
println(s"Total Rows = ${countMnMDF.count()}")
println()

+-----+------+------------------+
|State| Color|        avg(Count)|
+-----+------+------------------+
|   NV| Green| 53.78739693757362|
|   NV|  Blue|53.797369994022716|
|   WY|Yellow|53.997539975399754|
|   UT|   Red|54.163690476190474|
|   NM| Green|  54.1973840665874|
|   OR|Orange| 54.22489959839358|
|   WA| Green| 54.23608768971332|
|   UT|Orange| 54.24049881235155|
|   UT|Yellow|54.263829787234044|
|   CA| Green|54.268717353453276|
|   AZ|Orange| 54.28300769686205|
|   AZ| Brown|54.350412249705535|
|   UT|  Blue|54.366767371601206|
|   CA|Orange|54.502715751357876|
|   UT| Brown| 54.55119558553035|
|   NV|Yellow|54.561194029850746|
|   OR|Yellow| 54.60285006195787|
|   AZ|   Red|54.637135922330096|
|   WY|  Blue| 54.68870192307692|
|   CO| Green| 54.71336835960304|
|   NM|Orange|  54.8054054054054|
|   TX|  Blue|54.811648079306075|
|   OR| Green|54.821297429620564|
|   AZ| Green| 54.82219570405728|
|   NV|Orange|54.865070093457945|
|   OR|   Red| 54.88510638297873|
|   NM|Yellow| 54.94490521327014|
|   WY|   Red|54.950898203592814|
|   AZ|Yellow| 54.98548972188634|
|   OR| Brown| 54.98827884022209|
|   AZ|  Blue| 54.99449877750611|
|   OR|  Blue| 54.99756986634265|
|   NM|  Blue| 55.03663003663004|
|   CO|   Red|55.089285714285715|
|   TX|Yellow| 55.09042865531415|
|   CO|  Blue| 55.11032448377581|
|   TX| Green| 55.12550374208405|
|   WY|Orange|55.144827586206894|
|   WA|Orange|55.199638118214715|
|   CO|Yellow| 55.22254503195816|
|   CA|   Red| 55.26992753623188|
|   TX| Brown| 55.29311395490554|
|   TX|   Red|55.306666666666665|
|   WA|  Blue|55.314461538461536|
|   NM| Brown|55.392412566686424|
|   CO|Orange|55.402557856272836|
|   NV|   Red|  55.4944099378882|
|   UT| Green|55.557510999371466|
|   CA|  Blue| 55.59762944479102|
|   WY| Green|55.657227138643066|
|   CA| Brown|55.740395809080326|
|   WA| Brown| 55.77112043139604|
|   NV| Brown| 55.81050090525045|
|   WA|   Red| 55.85397965290245|
|   CA|Yellow|  55.8693967902601|
|   WA|Yellow|  55.8749248346362|
|   TX|Orange|55.880750605326874|
|   NM|   Red| 56.03491124260355|
|   WY| Brown| 56.20757180156658|
|   CO| Brown| 56.57729468599034|
+-----+------+------------------+

Total Rows = 60

In [21]:
val countMnMDF = mnmDF.select("State", "Color", "Count")
    .where(col("State") === "CA" || col("State") === "TX")
    .groupBy("State", "Color")
    .sum("Count")
    .orderBy(desc("sum(Count)"))

countMnMDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 1 more field]

In [22]:
countMnMDF.show(60)
println(s"Total Rows = ${countMnMDF.count()}")
println()

+-----+------+----------+
|State| Color|sum(Count)|
+-----+------+----------+
|   CA|Yellow|    100956|
|   CA| Brown|     95762|
|   TX| Green|     95753|
|   TX|   Red|     95404|
|   TX|Yellow|     93819|
|   CA| Green|     93505|
|   TX|Orange|     92315|
|   CA|   Red|     91527|
|   TX| Brown|     90736|
|   CA|Orange|     90311|
|   CA|  Blue|     89123|
|   TX|  Blue|     88466|
+-----+------+----------+

Total Rows = 12

In [25]:
val countMnMDF = mnmDF.select("State", "Color", "Count", "Count", "Count", "Count")
    .groupBy("State", "Color")
    .agg(max($"Count"), min($"Count"), avg($"Count"), sum($"Count"))
    .orderBy(desc("sum(Count)"))

countMnMDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 4 more fields]

In [26]:
countMnMDF.show(60)
println(s"Total Rows = ${countMnMDF.count()}")
println()

+-----+------+----------+----------+------------------+----------+
|State| Color|max(Count)|min(Count)|        avg(Count)|sum(Count)|
+-----+------+----------+----------+------------------+----------+
|   CA|Yellow|       100|        10|  55.8693967902601|    100956|
|   WA| Green|       100|        10| 54.23608768971332|     96486|
|   CA| Brown|       100|        10|55.740395809080326|     95762|
|   TX| Green|       100|        10| 55.12550374208405|     95753|
|   TX|   Red|       100|        10|55.306666666666665|     95404|
|   CO|Yellow|       100|        10| 55.22254503195816|     95038|
|   NM|   Red|       100|        10| 56.03491124260355|     94699|
|   OR|Orange|       100|        10| 54.22489959839358|     94514|
|   WY| Green|       100|        10|55.657227138643066|     94339|
|   NV|Orange|       100|        10|54.865070093457945|     93929|
|   TX|Yellow|       100|        10| 55.09042865531415|     93819|
|   CO| Green|       100|        10| 54.71336835960304|     93724|
|   CO| Brown|       100|        10| 56.57729468599034|     93692|
|   CA| Green|       100|        10|54.268717353453276|     93505|
|   NM| Brown|       100|        10|55.392412566686424|     93447|
|   CO|  Blue|       100|        10| 55.11032448377581|     93412|
|   WA|   Red|       100|        10| 55.85397965290245|     93332|
|   WA| Brown|       100|        10| 55.77112043139604|     93082|
|   WA|Yellow|       100|        10|  55.8749248346362|     92920|
|   NM|Yellow|       100|        10| 54.94490521327014|     92747|
|   NV| Brown|       100|        10| 55.81050090525045|     92478|
|   TX|Orange|       100|        10|55.880750605326874|     92315|
|   AZ| Brown|       100|        10|54.350412249705535|     92287|
|   AZ| Green|       100|        10| 54.82219570405728|     91882|
|   WY|   Red|       100|        10|54.950898203592814|     91768|
|   AZ|Orange|       100|        10| 54.28300769686205|     91684|
|   CA|   Red|       100|        10| 55.26992753623188|     91527|
|   WA|Orange|       100|        10|55.199638118214715|     91521|
|   NV|Yellow|       100|        10|54.561194029850746|     91390|
|   UT|Orange|       100|        10| 54.24049881235155|     91341|
|   NV| Green|       100|        10| 53.78739693757362|     91331|
|   NM|Orange|       100|        10|  54.8054054054054|     91251|
|   NM| Green|       100|        10|  54.1973840665874|     91160|
|   WY|  Blue|       100|        10| 54.68870192307692|     91002|
|   UT|   Red|       100|        10|54.163690476190474|     90995|
|   CO|Orange|       100|        10|55.402557856272836|     90971|
|   AZ|Yellow|       100|        10| 54.98548972188634|     90946|
|   TX| Brown|       100|        10| 55.29311395490554|     90736|
|   OR|  Blue|       100|        10| 54.99756986634265|     90526|
|   CA|Orange|       100|        10|54.502715751357876|     90311|
|   OR|   Red|       100|        10| 54.88510638297873|     90286|
|   NM|  Blue|       100|        10| 55.03663003663004|     90150|
|   AZ|   Red|       100|        10|54.637135922330096|     90042|
|   NV|  Blue|       100|        10|53.797369994022716|     90003|
|   UT|  Blue|       100|        10|54.366767371601206|     89977|
|   AZ|  Blue|       100|        10| 54.99449877750611|     89971|
|   WA|  Blue|       100|        10|55.314461538461536|     89886|
|   OR| Green|       100|        10|54.821297429620564|     89578|
|   CO|   Red|       100|        10|55.089285714285715|     89465|
|   NV|   Red|       100|        10|  55.4944099378882|     89346|
|   UT|Yellow|       100|        10|54.263829787234044|     89264|
|   OR| Brown|       100|        10| 54.98827884022209|     89136|
|   CA|  Blue|       100|        10| 55.59762944479102|     89123|
|   UT| Brown|       100|        10| 54.55119558553035|     88973|
|   TX|  Blue|       100|        10|54.811648079306075|     88466|
|   UT| Green|       100|        10|55.557510999371466|     88392|
|   OR|Yellow|       100|        10| 54.60285006195787|     88129|
|   WY|Orange|       100|        10|55.144827586206894|     87956|
|   WY|Yellow|       100|        10|53.997539975399754|     87800|
|   WY| Brown|       100|        10| 56.20757180156658|     86110|
+-----+------+----------+----------+------------------+----------+

Total Rows = 60

In [27]:
val s = Seq(1,2,3).toDF("num")

s: org.apache.spark.sql.DataFrame = [num: int]

In [28]:
s.createOrReplaceTempView("nums")

In [29]:
spark.table("nums")

res12: org.apache.spark.sql.DataFrame = [num: int]

In [30]:
spark.table("nums").count

res13: Long = 3

In [31]:
countMnMDF.createOrReplaceTempView("MnM")

In [32]:
spark.table("MnM")

res15: org.apache.spark.sql.DataFrame = [State: string, Color: string ... 4 more fields]

In [33]:
spark.table("MnM").count

res16: Long = 60